@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --main-pink: #fb4275;
  --main-gray: #535559;
  --main-paragraph: #3f3f3f;
  --main-light-gray: #999;
  --main-white: white;
}