.solutionContainer {
  padding: 200px;
  padding-bottom: 50px;
  padding-right: 0px;
  display: flex;
  justify-content: space-between;
  .solutionTitle {
    padding-top: 50px;
    hr {
      width: 4vw;
      border: 3px solid var(--main-pink);
      background-color: var(--main-pink);
      border-radius: 20px;
    }
    h1 {
      padding-top: 8px;
      inline-size: 30vw;
    }
    p {
      padding-top: 30px;
      inline-size: 30vw;
      color: var(--main-light-gray);
    }
    .icons {
      display: flex;
      padding-top: 5px;
      i {
        font-size: 18px;
        padding-top: 8px;
        padding-right: 5px;
        color: var(--main-pink);
      }
      h1 {
        font-size: 15px;
        font-weight: normal;
      }
    }
  }
  .images {
    background-color: #fff7f9;
    padding-left: 30px;
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
    padding: 70px;
    width: 50vw;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .solutionContainer {
    padding: 0px;
    padding-bottom: 50px;
    padding-right: 0px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    .solutionTitle {
      padding-top: 50px;
      hr {
        width: 150px;
        border: 3px solid var(--main-pink);
        background-color: var(--main-pink);
        border-radius: 20px;
      }
      h1 {
        padding-top: 8px;
        inline-size: 30vw;
      }
      p {
        padding-top: 30px;
        inline-size: 50vw;
        color: var(--main-light-gray);
      }
      .icons {
        display: flex;
        padding-top: 10px;
        i {
          font-size: 18px;
          padding-top: 8px;
          padding-right: 5px;
          color: var(--main-pink);
        }
        h1 {
          font-size: 15px;
          font-weight: normal;
        }
      }
    }
    .images {
      background-color: #fff7f9;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      padding: 0px;
      width: 50vw;
      transform: translateX(+40%);
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      img {
        width: 100%;
      }
    }
  }
}
